HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified

# Database (PostgreSQL)
DATABASE_CLIENT=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_SSL=false
POSTGRES_DB=strapi_db
POSTGRES_USER=strapi_user
POSTGRES_PASSWORD=tobemodified

# Media uploads (ImageKit)
IMAGEKIT_PUBLIC_KEY=tobemodified
IMAGEKIT_PRIVATE_KEY=tobemodified
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your_id
